body{
    background-color: white;
}
.container{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
}
.left-content, .right-content{
    flex-basis: 50%;
}
.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 100px;
    right: 10px
}
.right-content img{
    margin: 2rem;
    height: 180px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: red;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
}
.base-stat{
    margin-top: 2rem;
}
.navbar{
    height: 50px;
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list{
    display: flex;
    align-items: center;
    list-style: none;
}
.listItem{
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
}
.login{
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 60%;
    height: 75%;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
.left, .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.or{
    border: 2px solid lightgray;
    border-radius: 50%;
    padding: 10px;
    color: gray;
    background-color: white;
    font-weight: bold;
}
.line{
    width: 0.5px;
    height: 70%;
    background-color: lightgray;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: -1;
}
.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom:20px;
    cursor: pointer;
}
.facebook{
    background-color: blue;
}
.icon{
    width:20px;
    height:20px;
    margin-right: 10px;
}
input{
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
.submit{
    width: 200px;
    background-color:purple;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}
.loginTitle{
    position: absolute;
    top: 150px;
    color: black;
}
.link{
    color: inherit;
    text-decoration: none;
}